<section id="about" class="section-about"> 
    <div class="container about__inner"> 
        <h2 class="about__title">ABOUT HIMTI COMPETITION</h2>

        <div class="about__body">
            <div class="about__brand">
                <img
                class="about__logo"
                src="./assets/icons/logo_himti.svg"
                alt="HIMTI BINUS University"
                />
            </div>

            <div class="about__text">
                <p class="about__desc">
                    Hosted by <strong>HIMTI BINUS University</strong>, the HIMTI Competition is an exciting event that brings together the brightest talents in technology and design. Participants can showcase their skills in three dynamic fields: <strong>UI/UX Design</strong>, <strong>Competitive Programming</strong>, and <strong>App Creation</strong>. This competition is a platform for innovation, creativity, and excellence, offering participants the opportunity to solve real-world problems, create stunning user experiences, and develop innovative applications.
                </p>

                <p class="about__desc about__desc--spaced">
                    Join us and be a part of this prestigious event, where the future of technology is shaped!
                </p>
            </div>
        </div>
    </div> 
</section>