<footer class="section-footer">
  <div class="container footer__inner">
    <div class="footer__top">
      <div class="footer__brands">
        <img
          class="footer__binus"
          src="./assets/icons/logoBINUS%201.svg"
          alt="BINUS University"
        />
        <img
          class="footer__himti"
          src="./assets/icons/himti_1.svg"
          alt="HIMTI BINUS University"
        />
      </div>

      <div class="footer__social">
        <a class="footer__social-link" href="https://www.instagram.com/himti_binus/" aria-label="Instagram">
          <img class="footer__social-icon" src="./assets/icons/Group.svg" alt="" />
          <span class="footer__social-text">@himti_binus</span>
        </a>

        <a class="footer__social-link" href="https://www.youtube.com/himtibinus" aria-label="YouTube">
          <img class="footer__social-icon" src="./assets/icons/Group-1.svg" alt="" />
          <span class="footer__social-text">HIMTI BINUS</span>
        </a>

        <a class="footer__social-link" href="https://www.tiktok.com/@himtibinus" aria-label="TikTok">
          <img class="footer__social-icon" src="./assets/icons/bi_tiktok.svg" alt="" />
          <span class="footer__social-text">@himtibinus</span>
        </a>
      </div>
    </div>

    <p class="footer__copyright">
      © Copyright 2024 HIMTI BINUS University.
    </p>
  </div>
</footer>