<header class="site-header">
  <div class="container header__inner">
    <a class="brand" href="#home" aria-label="Go to Home">
      <img class="brand__logo" src="./assets/icons/HIMTI%202.svg" alt="HIMTI" />
    </a>

    <nav class="nav" aria-label="Primary navigation">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#events">Events</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>