/* Palette */
:root {
  --white: #FFFFFF;
  --sky: #00A7E1;
  --ink: #00171F;
  --navy: #003459;
  --teal: #007EA7;
  --lavender: #808AE7;
}
/* Default Background Color */
body {
  background: var(--navy);
}